.whole {
   font-family: 'Martel Sans', sans-serif;
    font-size: 12px;
    background-color: #7CADBE;
    margin: 0px 40% 0px 40%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.sign {
    background-color: #EDD4D8;
    padding: 0.5px;
    border-radius: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.btn:hover {
    background-color: #45a049;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.40), 0 2px 2px 0 rgba(0, 0, 0, 1);
}

.btn2 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.btn2:hover {
    background-color: #0683D5;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.40), 0 2px 2px 0 rgba(0, 0, 0, 1);
}

input[type=text],
[type=password] {
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ADD8E6;
    box-sizing: border-box;
}

.welcome {
    background-color: #EDD4D8;
}

.welcome h1 {
    text-align: center;
    vertical-align: center;
    font-family: Comic Sans MS;
    font-size: 60px;
    color: grey;
    text-outline: 2px 2px black;
    text-shadow: 5px 5px 5px #000000;
    font-weight: 900;
}

#logout {
    margin-left: 1355px;
}

.alert {
    background-color: #F2476A;
    border-radius: 10px;
    padding: 10px;

}

.alert2 {
    background-color: red;
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 0px 0% 0px 45%;
    text-align: center;

}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

#index {
    background-image: url("2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btns {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(adduser.png);
    background-repeat: no-repeat;
    background-position: 2px 10px;
    padding-left: 30px;
    vertical-align: middle;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.btns:hover {
    background-color: #45a049;
    box-shadow: 10px 10px 5px #888888;

}

.size {
    width: 200px;
    height: 200px;
    float: left;
}

#wholes {
    font-family: arial;
    font-size: 15px;
    background-color: #7CADBE;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 16px 0 rgba(0, 0, 0, 0.40), 0 17px 50px 0 rgba(0, 0, 0, 1);
}

.welcometo {
    font-family: font-family: 'Architects Daughter', cursive;
}

.drop {
    padding: 10px;
}

#student_list table{
color: #333;

width: 100%;
border-collapse:collapse;
 border-spacing: 0;
}

#student_list th {
padding:10px;
}
#student_list td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
}
#student_list th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
}
#student_list td {
background: #FAFAFA;
text-align: center;
}
#student_list tr:nth-child(even) td { background: #F1F1F1; }
#student_list tr:nth-child(odd) td { background: #FEFEFE; }

tr:hover{
    color: black;
}



.size {
    width: 3.2cm;
    height: 4.1cm;
    padding-left: 65px;
}

#student_list body{
   
    background-image: url(b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.choice {
    font-size: 15px;
}
.tablesv{
    font-size: 20px;
    border: 1px solid transparent;
}
.copyright{
    background-color: black;
    color:white;
    margin-top: 2.8cm;
    text-align: center;
    width:100%;
    padding:3px;
}
body{
      background-color: #D9E9FF;
      font-family: 'Abel', sans-serif;
      font-size: 20px;
}

.image{
    background-image: url(sms.jpg);
    
 
    padding:60px;
    
}
#m1{
   text-align: center;
   padding-left:5cm;
}
 #edit{
 background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(e.png);
    background-repeat: no-repeat;
    background-position: 2px 15px;
    padding-left: 30px;
    vertical-align: middle;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
 #delete{
 background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(delete.png);
    background-repeat: no-repeat;
    background-position: 2px 15px;
    padding-left: 30px;
    vertical-align: middle;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.edits{
    background-color: #AFCBF2;
    padding-top: 4px;

}

#buts{
    margin-left:80%;
}

